<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-start">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-toggle="modal"
        data-target="#add-modal">
        Add data baju
      </button>
  
      <div class="ml-3">
        <button class="btn btn-outline-success btn-sm" style="text-decoration: none;">
          <a href="http://warungbajumu.herokuapp.com">Back to warungbajumu</a>
        </button>
      </div>
  
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Baju</th>
              <th>Merek</th>
              <th>Lingkar Dada</th>
              <th>Panjang</th>
              <th>Kondisi</th>
              <th>Harga</th>
              <th>Deskripsi</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < baju.length; i++) { %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= baju[i].nama %></td>
                <td><%= baju[i].merek %></td>
                <td><%= baju[i].lingkar_dada %></td>
                <td><%= baju[i].panjang %></td>
                <td><%= baju[i].kondisi %></td>
                <td><%= baju[i].harga %></td>
                <td><%= baju[i].deskripsi %></td>
                <td>
                  <!-- <img src="https://warungbajumu.herokuapp.com/<%= baju[i].imageUrl %>" alt="Image" height="70px" width="70px"> -->
                  <img src="<%= baju[i].cloudinaryImageUrl %>" alt="Image" height="70px" width="70px">
              </td>

                <td class="text-center">
                  
                  <form action="/admin/baju/<%= baju[i].id %>?_method=DELETE" method="POST">
                    
                    <a href="javascript:void()" 
                    class="btn btn-outline-warning btn-sm button-update"
                    
                    data-id = "<%= baju[i].id %>" 
                    data-nama = "<%= baju[i].nama %>"
                    data-merek = "<%= baju[i].merek %>"
                    data-lingkar_dada = "<%= baju[i].lingkar_dada %>"
                    data-panjang = "<%= baju[i].panjang %>"
                    data-kondisi = "<%= baju[i].kondisi %>"
                    data-harga = "<%= baju[i].harga %>"
                    data-deskripsi = "<%= baju[i].deskripsi %>"
                    >Edit</a>
                    
                    <button type="submit" 
                    class="btn btn-outline-danger btn-sm"
                    onclick="return confirm('MASA KAMU YAKIN MENGHAPUS AKU DARI INGATAN KAMU?? hmmm..');"
                    >
                      Delete
                    </button>
                  </form>

                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>