<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center">Admin Data Baju</h2>
      <div class="row mt-3">
        <!-- Alert -->
        <div class="col-auto col-lg-12 mt-2">
          <% if(alert.message != "") { %>
          <div class="alert alert-<%= alert.status %>" role="alert">
            <%= alert.message %>
          </div>
          <% } %>
        </div>
        <!-- Table -->
        <div class="col-auto col-lg-12 mt-2"><%- include('./table.ejs') %></div>
      </div>
    </div>
    <!-- Add Modal -->
    <%- include('./add_modal.ejs') %>
    <!-- Edit Modal -->
    <%- include('./edit_modal.ejs') %>
    <!-- JS -->
    <%- include('../../partials/js.ejs') %>

    <script>
      $("#dataTable").on("click", ".button-update", function(){
        let id = $(this).data("id");
        let nama = $(this).data("nama");
        let merek = $(this).data("merek");
        let lingkar_dada = $(this).data("lingkar_dada");
        let panjang = $(this).data("panjang");
        let kondisi = $(this).data("kondisi");
        let harga = $(this).data("harga");
        let deskripsi = $(this).data("deskripsi");
        /*
         * memanggil id edit-modal yang ada di file edit_modal.ejs
         * dan membuat fungsi dari method
         */
        $("#edit-modal").modal("show");
        /* Lalu Mengirim  id, name, dstnya melalu class disamping form-control tag input
           dan valuenya mengambil dari setiap let yang dideklarasikan di atas */
        $(".id").val(id);
        $(".nama").val(nama);
        $(".merek").val(merek);
        $(".lingkar_dada").val(lingkar_dada);
        $(".panjang").val(panjang);
        $(".kondisi").val(kondisi);
        $(".harga").val(harga);
        $(".deskripsi").val(deskripsi);
      })
    </script>
  </body>
</html>