<%- include('../partials/header.ejs') %>
<body>

  <!-- ======= Navbar ======= -->
    <%- include('../partials/navbar.ejs') %>

  <main id="main">

    <section class="section">
      <!-- <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
            <h2>Work Single Page</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis explicabo inventore.</p>
          </div>
        </div>
      </div> -->

      <div class="site-section pb-0">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-md-8" data-aos="fade-up">
              
               <img src="<%= baju.cloudinaryImageUrl %>" alt="Image" class="img-fluid" style="margin-top: -80px !important; margin-bottom: 20px; width: 99%;">
              
            </div>
            <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <div class="sticky-content">
                <h3 class="h3"><%= baju.nama %></h3>
                <p class="mb-4"><span class="text-muted">Rp.<%= baju.harga %></span></p>

                <div class="mb-5">
                  <p><%= baju.deskripsi %></p>

                </div>

                <h4 class="h4 mb-3">Size & Information</h4>
                <ul class="list-unstyled list-line mb-5">
                  <li>Merek : <%=baju.merek %></li>
                  <li>Panjang : <%= baju.panjang %></li>
                  <li>Lingkar dada : <%= baju.lingkar_dada %></li>
                  <li>Kondisi : <%= baju.kondisi %></li>
                  <!-- <li>Logo</li> -->
                </ul>

                <p><a href="https://wa.me/+62895333636420?text=Hai..%20warungbajumu%20saya%20mau%20membeli%20baju%20dengan%20nama%20baju%20'<%=baju.nama%>'%20seharga%20Rp.<%= baju.harga %>%20apakah%20masih%20tersedia?" class="readmore">shop now</a></p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <%- include('../partials/testimonials.ejs') %>
    <!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('../partials/footer.ejs') %>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <%- include('../partials/js.ejs') %>

</body>

</html>